<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <connectionStrings>
      <add name="conexaoMysql" connectionString="Server=localhost;Database=veiculos;Uid=root;Pwd=;" providerName="MySql.Data" />
    </connectionStrings>
    <appSettings>
      <add key="vehiclesType" value="Cadastro tipo de veículos"/>
      <add key="vehiclesTypeList" value ="Tipos de veículos"/>
    </appSettings>
</configuration>